<footer>
    <div class="container">
        <div class="row">
            {% if false %}
            <div class="col-md-1">
                <img src="{{ asset('assets/images/logoKS80x50.png') }}">
            </div>
            {% endif %}
            <div id="footer-copyright" class="col-md-5">
                
                <p>&copy; {{ 'now'|date('Y') }} - Kimberly Systems Europe slu</p>
                <p>{{ 'mit_license'|trans }}</p>
            </div>
            <div id="footer-resources" class="col-md-6">
                <p>
                    <a href="https://twitter.com/symfony" title="Symfony Twitter">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                        <i class="fab fa-facebook-f" aria-hidden="true"></i>
                    </a>
                    <a href="https://symfony.com/blog/" title="Symfony Blog">
                        <i class="fa fa-rss" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>