{% extends 'base93.html.twig' %}

{% block pag_name %}{{ 'title.center_cpanel'|trans }}{% endblock %}

{% block header %}
    {{ include('default/_header.html.twig') }}
{% endblock %}

{% block body %}

<br>

<table>
    <tbody>
        <tr>
            <td></td>
            <td>Track economic info on treatments to patients based on reference treatments asigned values - yes/no</td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td>Asign monetary value to new treatments yes/now</td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>


{% endblock %}